@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --color-darkBase: #09090b;
  --color-glass: rgba(255, 255, 255, 0.05);
  --color-glassBorder: rgba(255, 255, 255, 0.1);
}

@layer base {
  body {
    @apply bg-darkBase text-slate-200 antialiased selection:bg-indigo-500/30 selection:text-indigo-200;
  }
}

/* Minimalistic, sleek scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
